.headerbgcolor{
    background-color: rgb(167, 192, 192);
}
.logoimg{
vertical-align: middle;
border-radius:50%;
height:50px;
width:50px;
}
.headernav{
padding:0 50px;
}
.headernav:hover{
    border-radius:20px;
    background-color: black;
    color:blanchedalmond;

}
.companyname{
    font-size:larger;
    display: inline-block;
    margin-top: 16px;
    margin-left: 20px;
}